<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-keep-cookies" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Keep Cookies</name>
    <description>Keeps track of any cookie and restores them at any start of the app</description>
    <author>Giuliano Collacchioni - giuli_c@hotmail.it</author>
    <keywords>android,cookie,ecosystem:cordova,cordova-android</keywords>
    <license>MIT License</license>

    <js-module name="setup" src="www/setup.js">
        <runs />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="KeepCookies">
                <param name="android-package" value="org.apache.cordova.KeepCookies" />
                <param name="onload" value="true" />
            </feature>

        </config-file>
        
        <source-file src="src/android/KeepCookies.java" target-dir="src/org/apache/cordova" />
    </platform>
</plugin>